alembic==1.12.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1696431134479/work
class-resolver==0.4.2
click==8.1.7
click-default-group==1.2.4
cmaes==0.10.0
colorlog==6.7.0
contourpy==1.1.1
cycler==0.12.1
dataclasses-json==0.6.1
docdata==0.0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1694629184119/work
fonttools==4.43.1
fsspec==2023.9.2
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808749046/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
kiwisolver==1.4.5
loguru==0.7.2
Mako==1.2.4
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1695367660391/work
marshmallow==3.20.1
matplotlib==3.8.0
more-click==0.1.2
more-itertools==10.1.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
mypy-extensions==1.0.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1694920094885/work/dist/numpy-1.26.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=6909902123b8421906e90ad77fb0041d9eb2d95bbdc29f3d09c7d244b0e0e5a5
optuna==3.3.0
packaging==23.2
pandas==2.1.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1696149374775/work
protobuf==3.20.3
pykeen @ git+https://github.com/pykeen/pykeen.git@c94213cafc5f9cebad5d23ff0a89c869ae1d5ee0
pyparsing==3.1.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystow==0.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373486380/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rexmex==0.1.3
scikit-learn==1.3.1
scipy==1.11.3
six==1.16.0
SQLAlchemy==2.0.22
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate==0.9.0
threadpoolctl==3.2.0
torch==2.1.0
torch-max-mem==0.1.3
torch-ppr==0.0.8
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata==2023.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1696434355823/work
